<h1 style="text-align: center;">Portfolio Page</h1>

<div style="width: 200px;margin-left: 40%;">
<p>
    This is a dynamic page. Only thing dynamic is my name
    <br>
</p>

 <p>Created by : <strong>{{name.name}}</strong> </p>   
</div>



